#album{
	margin:20px auto 0px auto;
	position:relative;
	left:0;

	-moz-transition:0.3s left;
	-webkit-transition:0.3s left;
	transition:0.3s left;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#album .page{
	overflow:hidden;
	-webkit-box-shadow: 10px 5px 10px 5px rgba(0,0 , 0, 0.3);
	box-shadow: 10px 5px 10px 5px rgba(0,0 , 0, 0.3);
	background-color: #e1e1e1;
}

#album .leftPage div{
	border-right:1px solid #bbb;
}

#album.fullPage{
	-webkit-box-shadow: 0px 0px 29px 7px rgba(0,0 , 0, 0.3);
	box-shadow: 0px 0px 29px 7px rgba(0,0 , 0, 0.3);
	margin-left:-24px;
}

/* Center the magazine when the last page is shown */
#album.centerEnd{
	left:260px;
}

#album .page img{
	display:block;
	padding:10px;
	-webkit-box-shadow: inset -2px 0px 8px 0px rgba(0, 0, 0, 0.3);
	box-shadow: inset -2px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

#album span.pageNum{
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 25px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-size: 11px;
    height: 24px;
    line-height: 22px;
    opacity: 0.9;
    position: absolute;
    text-align: center;
    width: 55px;
}

#album span.pageNum.left{
	left:0;
	right:auto;
}

#album span.pageNum.right{
	left:auto;
	right:0;
}

/* Hide the page number on the cover */
#page1 .pageNum{
	display:none;
}
